.login .full-page{
  width:100vw;
  height:100vh;
}

.login .grid-container{
  display: grid;
  grid-template-columns: 10%  80%  10%;
  grid-template-rows: 10% 50% 40%;
}


.login .back-button{
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}



.login .logo-container{
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.login .logo{
  height: 80%;
  width: auto;
  max-height:650px;
}


.login .form{
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}


@media only screen and (max-width: 900px){
  .login .logo{
    height: 60%;
    width: auto;
    max-height:450px;
  }
}

@media only screen and (max-width: 600px){
  .login .logo{
    height: 45%;
    width: auto;
    max-height:350px;
  }
}
